<html>
  <head>
    <title>RSS一覧</title>
  </head>
  <body>
    <h2>RSS一覧</h2>
    <% @ght = group_hash %>
    <% @ght.keys.each do |key| %>
      <h2><%= key %></h2>
      <ul>
        <% @ght[key].each do |page| %>
          <li>
            <a href="<%= page.url%>"><%= page.title %></a>
          </li>
        <% end  %>
      </ul>
    <% end %>
  </body>
</html>
