<html>
  <head>
    <title>RSS一覧</title>
  </head>
  <body>
    <h2>RSS一覧</h2>
    <section class="content-gallery scroll-bar">
      <% @rsspages.keys.each do |key| %>
      <section class="content-gallery-card">
        <h2><%= key %></h2>
        <ul class="card-pages">
          <% @rsspages[key].each do |page| %>
            <li class="card-page-link">
              <a href="<%= page.url%>"><%= page.title %></a>
            </li>
          <% end  %>
        </ul>
      </section>
      <% end %>
    </section>
  </body>
</html>
