/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.list-nav00{
    list-style:none;
    width: 100%;                /* 横幅100%　*/
    height: 140px;              /* 縦幅140px */
    //width:980px;
    margin:0 auto;
}
.list-nav00:after {
    content: "";
    clear: both;
    display: block;
}
.list-nav00 li{
    float:left;
    width:140px; //ナビの幅980px ÷ ナビの数 7
}
.list-nav00 a{
    display:block;
    line-height:30px;
    height:30px;
    text-align:center;
    background:#000;
    color:#fff;
    border-right:1px solid red;
}
.list-nav00 li:first-child a{
    border-left:1px solid red;
}
